<a href="https://colab.research.google.com/github/Anuj-Main/DataScienceProgramming/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing
Data Modfying or Data Cleaning

First we importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
Test_homedata=pd.read_csv('/Home_Consumption.csv')
Test_homedata.head()

  Name of the data = Home Consumption Unnamed: 1  ...   Unnamed: 4     Unnamed: 5
0                  Unit = kW and $/kW        NaN  ...          NaN            NaN
1                                Time     E_Plug  ...  Temperature  No. Occupants
2                                   1         24  ...          -15             12
3                                   2         17  ...          -17             12
4                                   3         16  ...          -19             12

[5 rows x 6 columns]

In [9]:
Test_homedata2=pd.read_csv('/Home_Consumption.csv',header=2)
Test_homedata2.head()

   Time  E_Plug  E_Heat Price  Temperature  No. Occupants
0     1    24.0      28    10          -15             12
1     2    17.0      32    12          -17             12
2     3    16.0      34    11          -19             12
3     3    16.0      34    11          -19             12
4     4    16.0      33    12          -18             12

In [10]:
Test_homedata2.rename(columns={'Temperature':'Temp'})

    Time  E_Plug  E_Heat Price  Temp  No. Occupants
0      1    24.0      28    10   -15             12
1      2    17.0      32    12   -17             12
2      3    16.0      34    11   -19             12
3      3    16.0      34    11   -19             12
4      4    16.0      33    12   -18             12
5      5    16.0      30    10   -14             12
6      6    16.0      31    10   -16             12
7      7    19.0      28    14   -14             12
8      8    22.0      29    12   -15              9
9      9    25.0      26    12   -12              8
10    10    26.0      24    14    -8              8
11    11    27.0      20    14    -4              8
12    12    30.0      19    16     0              5
13    13    30.0      19    16     0              4
14    14     NaN      13    17     2              4
15    15    27.0      14    17     3              4
16    16    27.0      16    17     2              6
17    17    28.0      -4    18     0              8
18    18    33.0      26    20    -6              9
19    19    42.0      32    21    -8             10
20    20   120.0      33    21   -12             12
21    21    47.0      32    21   -16             12
22    22    44.0      30    22   -18             12
23    23    36.0      35     !   -19             12
24    24    37.0      36    18   -22             12